<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Login</title>
</head>

<body>
    <script src="./js/main.js"></script>
    <div class="loginContainer">
        <h2 class="loginHeader">Candidate Home</h2>
        <h3 class="loginHeader">Welcome, <label id="nameLbl">test@hotmail.com</label></h3>
        
        <p>Exams Available: </p>
        <div id="examsAvail">
            
        </div>
        
        <input type="submit" value="Refresh" onclick="RefreshExams()">
        
    </div>
</body></html>
<link rel="stylesheet" href="./css/main.css">
<script src="./js/loaded.js"></script>