<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Homo</title>
</head>

<body>
    <script src="./js/main.js"></script>
    <div class="loginContainer" style="text-align: center">
        <h2 class="loginHeader">HR Check Up</h2>
        <h3 class="loginHeader">foo@bar.foobar</h3>
        <h3 class="loginHeader">applying for Java Developer</h3>
        
        <p>Results:</p>
        ========================
        <p>Exam: Java</p>
        ------------------------
        
        <p>Question: What is polymorphism?</p>
        <p>Polymorphism is when one object takes on many different forms</p>
        <p>Polymorphism is used to write one code to handle different types of objects with commonalities</p>
        <p>Polymorphism is when you create setters and getters for an object</p>
        
        ----------------
        
        <p>Question: What is polymorphism?</p>
        <p>Polymorphism is when one object takes on many different forms</p>
        <p>Polymorphism is used to write one code to handle different types of objects with commonalities</p>
        <p>Polymorphism is when you create setters and getters for an object</p>
        
        ----------------
        
        <p>Question: What is polymorphism?</p>
        <p>Polymorphism is when one object takes on many different forms (CHOSEN)</p>
        <p>Polymorphism is used to write one code to handle different types of objects with commonalities</p>
        <p>Polymorphism is when you create setters and getters for an object</p>
        
        ----------------
        
        <p>SKIPPED</p>
        <p>Question: What is polymorphism?</p>
        <p>Polymorphism is when one object takes on many different forms</p>
        <p>Polymorphism is used to write one code to handle different types of objects with commonalities</p>
        <p>Polymorphism is when you create setters and getters for an object</p>
        
        ----------------
        
        <p>Question: What is polymorphism?</p>
        <p>Polymorphism is when one object takes on many different forms</p>
        <p>Polymorphism is used to write one code to handle different types of objects with commonalities</p>
        <p>Polymorphism is when you create setters and getters for an object</p>
        
        ********************
        <br>
        SCORE: 3/5
        <br>
        ********************
    </div>
</body></html>
<link rel="stylesheet" href="./css/main.css">